<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

  </head>
  <body>
    <h1 class="caloriematetitle">CalorieMate</h1>
    <h2 class="logintext">Login:</h2>
    <h2 class="passwordtext">Password:</h2>
    <form method="post" action="/submit" target="_blank">

      <input type="text" name="text" class="email" placeholder="Enter Email" >
      <input type="password" name="password" class="password" placeholder="Enter Password" >
      <button type="submit" class="submit">Submit</button>


    </form>
    <form action="/signuppage" method="get" target="_blank">
      <button type="submit" class="signup">Sign Up</button>

    </form>
    {% if message == "Login Successful" %}
  <div class="fail-text">{{ message }}</div>
  {% else %}
  <div class="failer-text">{{ message }}</div>
  {% endif %}

  </body>
</html>
